#project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 20vh;
  row-gap: 5%;
  column-gap: 5%;
}

.thumbnail {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: var(--accent-dark);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  > svg {
    max-height: 80%;
    width: 25%;
    padding-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    fill: var(--basic-light);
  }
  > div {
    width: 75%;
  }
  h3 {
    margin-top: 0.5em;
    text-align: center;
  }
}