#skills {
  background-color: var(--accent-dark);
  > div {
    min-height: 300px;
  }
}

.skill-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
  grid-template-areas: "header header header header header header";
  padding: 1em 0;
  > h2 {
    grid-area: header;
    margin: auto
  }
  span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .tab-head button {
    width: 50%;
    height: auto;
    padding: 10px;
  }
}