.scroll-bar {
  width: 10px;
  height: 100vh;
  right: 5px;
  z-index: 1000;
  top: 0;
  position: fixed;
  bottom: 0;
  background-color: transparent;
  transition: opacity 150ms ease-in-out;
}
.scrollhost-container {
  position: relative;
  height: 100%;
}

.scroll-thumb {
  background-color: var(--basic-light);
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  &:active{
    background-color: var(--accent-light);
  }
}

@media only screen and (max-width: 768px) {
  .scroll-bar {
    display: none;
  }
}