.nav {
  width: 20%;
  height: 100vh;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: var(--basic-dark);
  padding: 0 !important;
  #b3-logo {
    position: absolute;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    cursor: pointer;
    > * {
      transition: all 500ms;
    }
  }
  #b3-logo:hover  {
    > #hidden-accent{
      opacity: 1;
      transform: translate(-0.05004647px,-3.0363773px);
    }
    #accent {
      opacity: 0;
      transform: translate(7.6330846px,-0.18159204px)
    }
  }
  .active {
    color: var(--accent-light);
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
    width: 90%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 5;
    h2 {
      padding: 5px 0 0 5px;
      margin-left: 1em;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      transition: color 500ms;

      &.active::before{
        width: 100%;
      }
      &:before {
        content: '';
        background: var(--basic-light);
        display: block;
        position: relative;
        bottom: -35px;
        left: 0;
        width: 0;
        height: 2px;
        transition: width 500ms;
      }
      &:hover {
        color: var(--accent-light);
      }
    }
  }
  > .social-icons {
    flex-direction: row;
    bottom: 40px;
    top: initial;
    height: auto;
    .speech-bubble {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  #main-content > .nav {
    min-height: 0;
  }
  .nav{
    width: 0;
    height: 0;
    right: auto;
    background-color: transparent;
    position: static;
    > div {
      height: auto;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 0;
      background-color: var(--basic-dark);
      padding: 0.5em 0;
      width: 100%;
      position: fixed;
      &:nth-child(1){
        top:0;
      }
      h2 {
        width: 15%;
        font-size: 10px;
        text-align: center;
        border-left: 5px solid var(--basic-light);
      }
    }
    > .social-icons {
      bottom: 0;
    }
  }

}
@media only screen and (max-width: 425px) {
  .nav > div > h2{
    min-width: 30%;
  }
}