.nav {
  width: 20%;
  height: 100vh;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: var(--basic-dark);
  padding: 0 !important;
  .active {
    background-color: var(--accent-light);
    color: var(--basic-dark);
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
    width: 90%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 5;
    h2 {
      padding: 5px 0 5px 1em;
      border-right: 5px solid white;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      cursor: pointer;
    }
  }
  > .social-icons {
    flex-direction: row;
    bottom: 40px;
    top: initial;
    height: auto;
    .speech-bubble {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  #main-content > .nav {
    min-height: 0;
  }
  .nav{
    width: 0;
    height: 0;
    right: auto;
    background-color: transparent;
    position: static;
    > div {
      height: auto;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 0;
      background-color: var(--basic-dark);
      padding: 0.5em 0;
      width: 100%;
      position: fixed;
      &:nth-child(1){
        top:0;
      }
      h2 {
        width: 15%;
        font-size: 10px;
        text-align: center;
        border-left: 5px solid var(--basic-light);
      }
    }
    > .social-icons {
      bottom: 0;
    }
  }

}
@media only screen and (max-width: 425px) {
  .nav > div > h2{
    min-width: 30%;
  }
}