.skill-stamp{
    padding-top: 1rem;
    > *{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    :nth-child(1){
      width: 75%;
      height: 60%;
      margin: auto;
    }
}