.main {
  background-color: #000000;
  min-height: 100vh;
  color: white;
  overflow-x: hidden;
}
.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: row;

    h2 {
      max-width: 200px;
    }
  }

  .social-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    a {
      color: white;
      &:visited{
        color: white;
      }
    }
    svg {
      height: 36px;
      width: 36px;
      padding: 0 5px;
      &:hover {
        fill: var(--accent-secondary);
      }
      &:hover + div{
        opacity: 1;
      }
    }
    > a{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 46px;
      text-decoration: none;
    }
  }
}

#about {
  min-height: 100vh;
  > div {
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    > * {
      width: 45%
    }
  }
}

.landing {
  padding: 0 10%;
}

#main-content {
  width: 80%;
  margin-left: auto;

  > div {
    min-height: 100vh;
    padding: 0 5%;
  }

  h1 {
    text-align: center;
  }
}

#skills {
    > div {
      margin: 0 10%;
      min-height: 300px;
      border: 1px solid white;
    }
}

.tab-head {
  button {
    background-color: black;
    color: white;
    width: 25%;
    height: 80px;
    border: 1px solid white;
  }
}
.tab-body{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#projects {
  display: flex;
  flex-direction: column;
  .projects-link {
    font-size: 1.8em;
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  > * {
    background-color: black;
    color: lightgrey;
    border-color: lightgrey;
  }

  input, textarea {
    padding: 1%;
    width: 80%;
    margin: 5px auto 5px auto;
  }
  input[type="submit"] {
    width: 30%;
  }
  textarea {
    height: 300px;
  }
}
.speech-bubble {
  position: relative;
  background: var(--accent-secondary);
  border-radius: .4em;
  top: 10px;
  right: 8px;
  width: max-content;
  padding: 0.25em 0.5em;
  opacity: 0;
  transition: opacity 500ms;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  top: 0;
  right: 15px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: var(--accent-secondary);
  border-top: 0;
  border-right: 0;
  margin-left: -3.5px;
  margin-top: -7px;
}
