.main {
  background-color: var(--accent-dark);
  min-height: 100vh;
  color: white;
  overflow-x: hidden;
}
.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  > div {
    display: flex;
    flex-direction: row;
    &:nth-child(1) {
      flex-direction: column;
    }
    h1 {
      margin: 0;
      position: relative;
      font-size: 150px;
    }

  }

}

#about {
  min-height: 100vh;
  > div {
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    > * {
      width: 45%
    }
  }
}

.landing {
  padding: 0 10%;
}

#display-main-content {
  position: absolute;
  bottom: 20px;
}

#main-content {
  width: 80%;
  margin-left: auto;

  > div {
    min-height: 100vh;
    padding: 100px 5%;
  }

  h1 {
    text-align: center;
  }
}

#projects {
  display: flex;
  flex-direction: column;
  .projects-link {
    font-size: 1.8em;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    .social-icons {
      width: 100%;
      justify-content: space-evenly;
      right: 0;
    }
    .landing > .landing-title {
      flex-direction: column;
      h1 {
        font-size: 36px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
  h3 {
    font-size: 16px;
  }

  #main-content {
    width: 100%;
  }

  #about {
    display: flex;
    flex-direction: column;
    > div {
      flex-direction: column;
      > * {
        width: 100%;
      }
    }
  }
}
